body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}

html {
    overflow: visible;
    height: 100%
}

body {
    height: 100%;
    overflow: auto;
}

.navbar {
  color: white;
  background-color: black;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
}

.leftsidebar {
  color: white;
  background-color: black;
  width: 300px;
  height: 100%;
    position: relative;
    left: 0px;
}

ul {
  list-style: none;
}

body {
  background-color: #e6e6e6;
}
